<!-- <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/300x200/FF5733/ffffff'">
      </div>
      <div class="swiper-slide">
        Swiper slide content2
      </div>
    </div>
  
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
  
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div> -->

  <!-- <p>Education Completed
    <input type="text" list="edulevel" name="education">
  </p>
  <datalist id="edulevel">
    <option value="High Scool">
        <option value="Undergrad">
            <option value="Grad">
                <option value="Master">
  </datalist> -->